@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
}

/* utility classes */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-center {
  align-content: center;
}
.justify-between {
  justify-content: space-between;
}

.container {
  padding: 1rem;

  width: min(100%, 1440px);
  margin: 0 auto;
}

/* style start */
:root {
  --mute: rgba(21, 20, 57, 0.4);
  --accent-color: rgba(37, 218, 197, 1);
  --accent-hover-color: rgb(31, 183, 165);
}
body {
  background-color: #ffffff;
  color: #1a1919;
  font-family: "Dm sans", sans-serif;
  font-weight: 500;
}

header .container {
  padding-top: 60px;
}

.logo {
  color: #0096ff;
  font-size: 1.5rem;
}

.nav-links {
  gap: 2rem;
}

.account-links li,
.nav-links li {
  color: var(--mute);
  font-size: 18px;
}
.nav-links li i {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.account-links {
  align-items: center;
  gap: 2rem;
}

.btn-primary {
  padding: 7px 20px;
  background-color: var(--accent-color);
  border-radius: 40px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  display: block;
}

.btn-primary:hover {
  background: var(--accent-hover-color);
}
.btn-secondary {
  color: var(--accent-color);
  transition: 0.3s;
}
.btn-secondary:hover {
  color: var(--accent-hover-color);
}

main {
  padding-block: 89px;
}
.hero {
  text-align: center;
}
.text {
  margin-bottom: 80px;
}
.hero .text h1 {
  font-size: 72px;
  letter-spacing: -1px;
  margin-bottom: 37px;
}

.hero .text p {
  max-width: 582px;
  font-size: 22px;
}
.hero .buttons {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  gap: 17px;
}
.hero .buttons .btn-primary {
  font-size: 20px;
  padding: 15px 28px;
  text-align: center;
}
