@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
}

/* utility classes */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}

.container {
  width: min(100%, 972px);
  margin: 0 auto;
}

/* style start */
:root {
  --text: #fff;
  --blue: #1e0e62;
  --mute: rgba(21, 20, 57, 0.4);
  --gray: #ebeaed;
  --accent-color: #e93a7d;
  --accent-hover-color: #d0336f;
}
body {
  background: var(--blue);
  font-family: "Dm sans", sans-serif;
  font-weight: 500;
}

header .container {
  padding-top: 60px;
}

.logo {
  font-size: 1.5rem;
  margin-right: 2rem;
  color: var(--text);
  font-weight: 600;
}

.nav-links {
  gap: 2rem;
}

.nav-links li {
  color: var(--text);
  font-size: 18px;
  transition: 0.25s;
}
.nav-links li:hover:not(:last-child) {
  color: rgb(255, 255, 255, 0.3);
}

.btn {
  padding: 11.5px 28px;
  display: inline-block;
  font-size: 18px;
  border-radius: 40px;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
}

.btn-primary {
  padding: 8.5px 18px;
  border-radius: 70px;
  background-color: var(--accent-color);
}

.btn-primary:hover {
  background: var(--accent-hover-color);
}

main {
  padding-block: 114px;
}
.hero {
  gap: 80px;
}
.text {
  max-width: 427px;
  margin-bottom: 52px;
  color: var(--text);
}
.hero .text h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;

  max-width: 424px;
  margin-bottom: 24px;
  color: var(--text);
}
.hero h1 + p {
  margin-bottom: 45px;
  max-width: 363px;
  font-size: 22px;
  line-height: 32px;
}
.hero .btn-primary {
  padding: 11.5px 28px;
  display: inline-block;
  font-size: 18px;
}
.form-container {
  width: 470px;
  background: white;
  padding: 48px 70px 43px;
  border-radius: 4px;
}
.form-container .title {
  margin-bottom: 34px;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  color: var(--blue);
  text-transform: capitalize;
  text-align: center;
}
.sign-up-form {
  gap: 20px;
}
.sign-up-form input:not([type="checkbox"]) {
  padding: 10.5px 20px;
  font: inherit;
  font-size: 18px;
  color: rgba(21, 20, 57, 0.4);
  border: 1px solid rgba(235, 234, 237, 1);
  border-radius: 100px;
}

.sign-up-form input:is(:hover, :focus) {
  border-color: rgb(202, 199, 209);
}

.sign-up-form input::placeholder {
  color: var(--mute);
}

.sign-up-form label {
  color: var(--mute);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-block: 10px;
}
.checkbox-wrapper {
  position: relative;
  margin-right: 13px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
input[type="checkbox"] {
  border-radius: 6px;
  appearance: none;
  width: 100%;
  height: 100%;
  border: 2px solid var(--mute);

  transition: all 0.3s;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.checkbox-wrapper svg {
  content: "";
  position: absolute;
  width: 9.6px;
  height: 7px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
  opacity: 0;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ svg {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

input[type="checkbox"]:hover {
  border-color: #00000050;
}

input[type="checkbox"]:checked {
  background: var(--mute);
  border-color: transparent;
}

input[type="checkbox"]:active:not(:checked)::after {
  box-shadow: none;
  transition: none;
  opacity: 1;
}

.sign-up-form .btn {
  background: var(--blue);
}

.divider {
  margin-block: 18px;
  text-align: center;
  height: 26px;
  position: relative;
}
.divider::after,
.divider::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--gray);
}
.divider::before {
  left: 0;
}
.divider::after {
  right: 0;
}
.sign-in-links .btn {
  display: block;
  text-align: center;
  background: rgb(29, 161, 242);
}
.sign-in-links + p {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  color: var(--mute);
}

.sign-in-links + p > a {
  color: rgb(37, 218, 197);
  padding-inline: 10px;
}
